<footer>
    <div class="container">
        <div class="toTop">Voltar</div>
        <div class="row footerTop">
            <div class="col-lg-3 col-sm-6">
                <div class="footerMenu">
                    <span class="title">Informações</span>
                    <ul class="footerMenu_list">
                        <li><a href="#">Staff</a></li>
                        <li><a href="#">Servidor</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footerMenu">
                    <span class="title">Páginas</span>
                    <ul class="footerMenu_list">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Ranking</a></li>
                        <li><a href="#">Downloads</a></li>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footerMenu">
                    <span class="title">Comunidade</span>
                    <ul class="footerMenu_list">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">YouTube</a></li>
                        <li><a href="#">Discord</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footerMenu">
                    <span class="title">Contato</span>
                    <div class="support">
                        <p>Suporte </p>
                        <a href="#" class="__cf_email__" data-cfemail="6b181e1b1b1b04191f2b02051f0e19071e0f0e4604050702050e45191e">suporte@darkwyd.com</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footerBottom flex-s-c">
            <div class="copy">
                © 2020 WYD Dark<br>
            </div>
        </div>
    </div>
</footer>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/customc1f7.js?v9"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/globald387.js?v8"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>