<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/css/bootstrap6654.css?v1" rel="stylesheet">
    <link href="/css/slick6654.css?v1" rel="stylesheet">
    <link href="/css/style2455.css?v15" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&amp;display=swap" rel="stylesheet">

    <link href="/css/maine5bf.css?v=12" rel="stylesheet">

    <meta name="description" content="With Your Destiny DARK - WYD Dark">
    <meta name="keywords" content="with, your, destiny, with your destiny, wyd, wyd brazil, wyd brasil, wydbr, wyd online, wyd private, wyd server, servidor wyd, dark, wyd dark">
    
    <!--captcha-->
    <script src='https://www.google.com/recaptcha/api7187.js?render=6LdJZ64UAAAAAB-mg0KJgnx-AcBy898WjfVMF14d'></script>
    <script>
        var captchaToken;
        var Catpcha_key = '6LdJZ64UAAAAAB-mg0KJgnx-AcBy898WjfVMF14d';
        var useCaptchav2 = false;
        var captchaTokenv2;
        grecaptcha.ready(function () {
            grecaptcha.execute(Catpcha_key, { action: 'pageLoad' }).then(function (token) {
                captchaToken = token;
            });
        });
    </script>
    <title>WYD Dark - <%= title %></title>
    <link href="/inc/forum_functions/style3.css" rel="stylesheet">
</head>