<div class="topLine">
    <div class="container flex-s-c">
        <div class="topLine_text">
            Jogue agora mesmo WYD Dark, servidor recem inaugurado
        </div>
        <div class="topLine_links flex-c">
            <% if (user) { %>
                <a href="/dashboard">Painel de Controle</a>
                <a href="/logout">Sair</a>
            <% } else { %>
                <a href="/login">login</a>
                <a href="/register">Registrar</a>
            <% } %>
        </div>
    </div>
</div>
<!--topLine-->

<header>
    <div class="topPanel">
        <div class="topPanel-container flex-s-c">
            <div class="topPanel_left flex-c">
                <div class="menubtn buttonDrop" data-class="menuBlock">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="logo-mini">
                    <a href="#" class="bright">
                        <img src="/images/logo-small.png" alt="Logo">
                    </a>
                </div>
                <div class="menuBlock">
                    <ul class="menu">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/news">Notícias</a>
                        </li>
                        <li>
                            <a href="#">Ranking</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>